<!Doctype html>
<html>
  <head>
    <title>second site</title>
    <meta charset="utf-8">
	<link rel="stylesheet" href="../css/reset.css"> 
    <link rel="stylesheet" href="../css/main.css"> 
	<script src="https://use.fontawesome.com/cb03fbba2a.js"></script>

  </head>
  <body>
  
    <div class="header">
      <div class="header-nav">
        <ul>
          <li><a href="#">Brand</a></li>
          <li><a href="#">Frontpage</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </div>
    <div class="main">
      <div class="section">
        <h1>
          Sample heading
        </h1>
        <h3>
          Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. 
        </h3>
        <div class="main-button">
          <button>Button</button>
          <button>Button</button>
        </div>
      </div>
    </div>
    <div class="block-section">
      <div class="block-info">
	  <div class="icon"><i class="fa fa-cog" aria-hidden="true"></i></div>
      <div class="block-info-section">  <h1>Sammple heading</h1>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
      </div>
	  </div>
      <div class="block-info">
		<div class="icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
		<div class="block-info-section">
		<h1>
		Sammple heading
		</h1>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
     </div>
	 </div>
	 
       <div class="block-info">
		<div class="icon"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
		<div class="block-info-section">
		<h1>
		Sammple heading
		</h1>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
     </div>
	 </div>
	
      <div class="block-info">
		<div class="icon"> <i class="fa fa-tachometer" aria-hidden="true"></i></div>
		<div class="block-info-section">
		<h1>
		Sammple heading
		</h1>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
     </div>
	 </div>
	
       <div class="block-info">
		<div class="icon"> <i class="fa fa-comments" aria-hidden="true"></i></i></div>
		<div class="block-info-section">
		<h1>
		Sammple heading
		</h1>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
     </div>
	 </div>
	 
      <div class="block-info">
		<div class="icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
		<div class="block-info-section">
		<h1>
		Sammple heading
		</h1>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
     </div>
	 </div>
    </div>
	 <hr>

    <div class="heading">
      <div class="image">
      </div>
      <div class="headings">
        <div class="heading-section">
          <h1>Heading</h1>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus           Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
                 </div>
        <div class="heading-section">
          <h2>Subheading</h2>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
        </div>
        <div class="main-button">
          <button>
          Button
          </button>
        </div>
      </div>
    </div>
    <hr>
    <div class="heading-reverse">
      <div class="image">
      </div>
      <div class="headings">
        <div class="heading-section">
          <h1>Heading</h1>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus           Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
        </div>
        <div class="heading-section">
          <h2>Subheading</h2>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
        </div>
        <div class="main-button">
          <button>
          Button
          </button>
        </div>
      </div>
    </div>
    <hr>
    <div class="sub-info-block">
	  <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>	
      <div class="main-button">
        <button>Button
        </button>
      </div>
    </div>
	<div class="client">
	<div class="client-block-section">
	<h1>Our clients</h1>
	</div>
	<div class="client-block">
		<div class="client-image"></div>
		<div class="client-image"></div>
		<div class="client-image"></div>
		<div class="client-image"></div>
		<div class="client-image"></div>
		<div class="client-image"></div>
	
	</div>
   </div>
  </body>
</html>

